{{>header}}
<title>Interio | Home</title>
{{>navbar}}
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="active"
            aria-current="true" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" class="active"
            aria-current="true" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
            aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
            aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" class="active"
            aria-current="true" aria-label="Slide 10"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/p1.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/p2.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/p3.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="/images/p4.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/p5.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/p6.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="/images/p7.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/p8.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/p9.jpg" height="500px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/p10.jpg" height="500px" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<h4 class="background text-center p-2 text-light mt-1">Our Services</h4>
<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-md-6 service-item ">

            <img src="/images/p11.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 service-item ">
            <h4 class="background text-center text-light p-1">Service 1</h4>
            <P style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque
                possimus ea perspiciatis molestias quas
                culpa voluptatum sapiente perferendis dolores, vel itaque tempora rerum molestiae officia corporis
                asperiores eligendi ratione expedita! Maxime quos optio dolor nihil quisquam fugit neque ratione rerum
                reprehenderit vitae, enim voluptas soluta? Non quisquam sunt tempora reiciendis, aliquid soluta vitae
                nobis
                que deserunt blanditiis quae est voluptatem
                assumenda ea itaque! Optio vero voluptatem cupiditate eveniet odit. Nesciunt sunt reprehenderit odit
                ducimus
                molestiae optio odio eos cum minus quos aut sapiente dolore amet cupiditate pariatur possimus, cumque
                illum

                reserunt blanditiis quae est voluptatem
                assumenda ea itaque! Optio vero voluptatem cupiditate eveniet odit. Nesciunt sunt reprehenderit odit
                ducimus
                molestiae optio odio eos cum minus quos aut sapiente dolore amet cupiditate pariatur possimus, cumque
                illum
                dicta dolorum</P>
        </div>
    </div>
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-6 service-item">

            <img src="/images/p12.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 service-item w-50">
            <h4 class="background text-center text-light p-1">Service 2</h4>
            <P style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque
                possimus ea perspiciatis molestias quas
                culpa voluptatum sapiente perferendis dolores, vel itaque tempora rerum molestiae officia corporis
                asperiores eligendi ratione expedita! Maxime quos optio dolor nihil quisquam fugit neque ratione rerum
                reprehenderit vitae, enim voluptas soluta? Non quisquam sunt tempora reiciendis, aliquid soluta vitae
                nobis que deserunt blanditiis quae est voluptatem
                assumenda ea itaque! Optio vero voluptatem cupiditate eveniet odit. Nesciunt sunt reprehenderit odit
                ducimus molestiae optio odio eos cum minus quos aut sapiente dolore amet cupiditate pariatur possimus, cumque
                reserunt blanditiis quae est voluptatem
                assumenda ea itaque! Optio vero voluptatem cupiditate eveniet odit. Nesciunt sunt reprehenderit odi
                molestiae optio odio eos cum minus quos aut sapiente dolore amet cupiditate pariatur possimus, cumqu
                dicta dolorum</P>
        </div>
    </div>

    <div class="row d-flex">
        <div class="col-md-6 service-item ">

            <img src="/images/p13.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 service-item ">
            <h4 class="background text-center text-light p-1">Service 3</h4>
            <P style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque
                possimus ea perspiciatis molestias quas
                culpa voluptatum sapiente perferendis dolores, vel itaque tempora rerum molestiae officia corporis
                asperiores eligendi ratione expedita! Maxime quos optio dolor nihil quisquam fugit neque ratione rerum
                reprehenderit vitae, enim voluptas soluta? Non quisquam sunt tempora reiciendis, aliquid soluta vitae
                nobis
                que deserunt blanditiis quae est voluptatem
                assumenda ea itaque! Optio vero voluptatem cupiditate eveniet odit. Nesciunt sunt reprehenderit odit
                ducimus
                molestiae optio odio eos cum minus quos aut sapiente dolore amet cupiditate pariatur possimus, cumque
                illum

                reserunt blanditiis quae est voluptatem
                assumenda ea itaque! Optio vero voluptatem cupiditate eveniet odit. Nesciunt sunt reprehenderit odit
                ducimus
                molestiae optio odio eos cum minus quos aut sapiente dolore amet cupiditate pariatur possimus, cumque
                illum
                dicta dolorum</P>
        </div>
    </div>
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-6 service-item">

            <img src="/images/p14.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 service-item w-50">
            <h4 class="background text-center text-light p-1">Service 4</h4>
            <P style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eaque
                possimus ea perspiciatis molestias quas
                culpa voluptatum sapiente perferendis dolores, vel itaque tempora rerum molestiae officia corporis
                asperiores eligendi ratione expedita! Maxime quos optio dolor nihil quisquam fugit neque ratione rerum
                reprehenderit vitae, enim voluptas soluta? Non quisquam sunt tempora reiciendis, aliquid soluta vitae
                nobis que deserunt blanditiis quae est voluptatem
                assumenda ea itaque! Optio vero voluptatem cupiditate eveniet odit. Nesciunt sunt reprehenderit odit
                ducimus molestiae optio odio eos cum minus quos aut sapiente dolore amet cupiditate pariatur possimus, cumque
                reserunt blanditiis quae est voluptatem
                assumenda ea itaque! Optio vero voluptatem cupiditate eveniet odit. Nesciunt sunt reprehenderit odi
                molestiae optio odio eos cum minus quos aut sapiente dolore amet cupiditate pariatur possimus, cumqu
                dicta dolorum</P>
        </div>
    </div>
</div>
<div class="mb-3">
    <a href="/services" class="btn background d-block m-auto text-light more-services" style="width:20%">View More</a>
</div>
{{>footer}}